.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
# Taken out of list for grading
# .env_file

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv
aws*
.aws*
*aws
trust.json
*auth-patch.yml